.tariffs
    background: #32425C
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    margin-top: 3.8125rem
    padding-top: 5.0625rem
    &__description 
        margin-right: 18.25rem
        font-size: 0.8125rem
        color: #FFFFFF
        line-height: 1.84615384615em
        margin-top: 1.5625rem
    &__title
        font-weight: normal
        font-size: 1.875rem
        text-transform: uppercase
        color: #FF0000


.tariffs-list
    list-style-type: none
    &__item
        width: 240px
        height: 62px
        background: #32425C
        box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069
    &__link
        text-decoration: none


.tab-pannel
    position: absolute
    top: 4.0625rem
    z-index: 3
    left: 0
    list-style-type: none
    color: #fff
    &__item
        width: 15rem
        height: 3.875rem
        background: #32425C
        box-shadow: 0 0.0625rem 0 #293449, inset 0 0.0625rem 0 #405069
        display: flex
        justify-content: center
        align-items: center
        &:hover
            background: #00A0CF
            cursor: pointer
            color: #fff

.tab-container
    position: relative
    

.tab-content
    height: 26.625rem
    &-more
        display: flex
        flex-direction: column
        align-items: center
        &__img
            width: 9.375rem
        &__button
            width: 9.1875rem
            height: 2.375rem
            margin-top: 5.5rem
            background: #C1272D
            color: #fff
            font-weight: normal
            font-size: 0.875rem
            border: none
            cursor: pointer
    &__container
        display: flex
        margin-top: 3.25rem
        justify-content: space-between
        align-items: flex-end
    &-info
        width: 18.75rem
        margin-left: 20.4rem
        margin-top: 1.4375rem
        &__description
            font-weight: normal
            font-size: 0.8125rem
            line-height: 1.84615384615em
            color: #FFFFFF
            margin-top: 2.30769230769em
        &__title
            font-weight: normal
            font-size: 1.875rem
            text-transform: uppercase
            color: #FF000A


.active-tab
    background: #FFFFFF
    color: #32425C
    box-shadow: 0 0.0625rem 0 #293449, inset 0 0.0625rem 0 #405069


    
@media   ( max-width: 920px  )
    .tab
        &-content
            &__container
                padding: 0
        &-container
            padding: 0


@media   ( max-width: 768px  )
    .tariffs
        &__description
            margin-top: 0
    .tab
        &-pannel
            top: 11.0625rem
        &-container
            padding: 0
            margin: 0 15px
        &-content
            &__container
                align-items: flex-start
                padding: 0
                margin-top: 1.25rem
            &-info
                display: none


@media   ( max-width: 576px  )
    .tab
        &-content
            &__container
                margin-top: 1.25rem
            &-more
                margin-top: 7rem
                &__img 
                    width: 6.375rem
    .tariffs
        &__description 
            margin-right: 0
            width: 19.8rem
            a
                text-decoration: none
                color: #fff
